*
{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*css pour entête */
/*css pour la ligne
    elle est là pour indiquer l'heure du début et la fin du travail 
    elle est accompagne de cordonnéer de l'entreprise*/


.ligne
{
    display: flex;
    height: 30px;
    
}

.ligne .times
{
    width: 40%;
    background-attachment: fixed;
    color: whitesmoke;
    background-color: rgba(0, 128, 0, 0.877);
    text-align: right;
    padding-right: 2%;
    padding-top: 0.5%;
}

.ligne .contact
{
    width: 70%;
    display: flex;
    background-color: rgba(128, 128, 128, 0.842);
    justify-content: right;
    padding-top: 0.5%;
    
}
.ligne a
{
    text-decoration: none;
    margin-bottom: 1%;
    color: black;
    margin-right: 2%;
    padding-left: 2%;
    border-left: solid 1px black;
}


/*css pour la navigateur*/
nav
{
    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: gray;
}

nav img
{
    width: 100px;
    height: 70px;
}

nav .liens 
{
    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: gray;
    width: 70%; 
}
 nav .liens a
{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    width: 24%;
    height: 40px;
    text-align: center;
    padding-top: 2%;
    color: black;
}

nav .liens a[href="#"]
{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    width: 15%;
    background-color: green;
}

/*fin css pour entête */



/*css pour la page index tenez bon elle est enorme hihi */
/*css pour l'image*/
img
{
    width: 100%;
    height: 86vh;
}
.page 
{
    width: 100%;
    height: 86vh;
    position: absolute;
    top: 12%;
    background-color: rgba(0, 0, 0, 0.678);
    
}

.page p
{
    color: whitesmoke;
    width: 40%;
    font-size: 1rem;
    margin-top: 2%;
    margin-left: 30%;
    text-align: center;
}

.page  p a button
{
    text-decoration: none;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 1rem;
    margin: 1%;
    background-color: whitesmoke;
    border: none;
    color: green;
}

/*css pour le contenue*/

.page .contenue
{
    width: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
}


.page .contenue .contenue1
{
    width: 20%;
    height: 20vh;
    background-color: whitesmoke;
    border-radius: 10px;
}

.page .contenue .contenue1 h2
{
    font-size: 2rem;
    text-align: center;
    font-family: tahoma;
    font-weight: bolder;
}

.page .contenue .contenue1 p
{
    font-family: tahoma;
    color: black;
}


.page .contenue .contenue1 button
{
    margin: 10%;
    width: 100px;
    height: 30px;
    font-size: 1rem;
    background-color: green;
    border: none;
    color: whitesmoke;
}

.contenue2 h1
{
    text-align: center;
    margin-top: 5%;
    color: whitesmoke;
}

.contenue2 .image
{
    display: flex;
    margin-top: 1%;
    justify-content: space-around;
}

.contenue2 .image img
{
    width: 200px;
    height: 100px;
}



.contenue3 h1
{
    text-align: center;
    margin-top: 3%;
    color: black;
}

.contenue3 .image
{
    display: flex;
    margin-top: 1%;
    justify-content: center;
}

.contenue3 .image img
{
    width: 100px;
    margin: 0.5%;
    height: 100px;
}
/* fin du css pour index*/


.separateur
{
    height: 180px;
    width: 100%;
}
